<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    <title>Cancer Prediction - Skin Lesion Classification</title>
</head>
<body>

    <div class="container">
        <form method="POST" enctype="multipart/form-data">
            <!-- Hidden File Input -->
            

            <!-- Upload Button -->
            <div class="img-area" type="file" name="file" accept="image/*" data-img="">
                <i class='bx bxs-cloud-upload icon'></i>
                <input type="file" name="file" accept="image/*"
                style="display: block; padding: 20px 20px; font-size: 12px; cursor: pointer; border: 0px; border-radius: 5px;">
     
                <h3>Upload an Image for Prediction</h3>
                <p>Image size must be less than <span>2MB</span></p>
            </div>
            <!-- Submit Button -->
            <input type="submit" value="Predict" class="select-image">
        </form>
    </div>
    <img class="imagePreview" src="https://www.oakleafsurgical.com/hv/2014_fa/graphics/skinchart.jpg" alt="Image Preview">

    <script src="{{ url_for('static', filename='button2.js') }}"></script>
</body>
</html>
